# Folders
/data/raw/
/data/embeddings
/data/processed/train/
/data/processed/test/
/data/processed
!/data/processed/training_data.zip
/models/
/venv/
/.idea/

# Files


# Exceptions
!/models/README.md
